* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animated-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* Chiếm toàn bộ chiều rộng của viewport */
  height: 20vh; /* Chiếm toàn bộ chiều cao của viewport */
  overflow: hidden; /* Ẩn nội dung thừa */
}

.animated-banner .layer {
  position: absolute; /* Đặt các lớp chồng lên nhau */
  left: 0;
  top: 0;
  width: 100%; /* Đặt chiều rộng thành 100% */
  height: 100%; /* Đặt chiều cao thành 100% */
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-banner .layer video,
.animated-banner .layer img {
  object-fit: cover; /* Đảm bảo video/hình ảnh chiếm toàn bộ không gian */
  width: 100%; /* Đặt chiều rộng thành 100% */
  height: 100%; /* Đặt chiều cao thành 100% */
}
